@page "/tournaments/create"
@attribute [Authorize(Roles = AppConstant.AdminUserRole)]
@inject IRepositoryServiceManager RepositoryServiceManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: true))
<div class="row">
    <div class="col-md-6">
        <h1>Create Tournament</h1>
    </div>
    <div class="col-md-6">
        <div class="d-flex justify-content-end">
            <a href="/tournaments" class="btn btn-secondary">Go Back</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <EditForm Model="@Model" OnValidSubmit="HandleSubmit" FormName="CreateTournament" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="alert alert-danger" role="alert" />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @errorMessage
                </div>
            }
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="@Model.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Please enter tournament name." disabled="@IsLoading" />
                        <label for="name" class="form-label">Name</label>
                        <ValidationMessage For="@(() => Model.Name)" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="categories" class="form-label">Categories</label>
                        <InputSelect @bind-Value="@CategoryId" class="form-select" multiple="true" disabled="@IsLoading">
                            @foreach (var category in Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => CategoryId)" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <InputDate @bind-Value="@Model.StartDateForm" class="form-control" autocomplete="start-date" aria-required="true" placeholder="Please enter tournament start date." disabled="@IsLoading" />
                        <label for="start-date" class="form-label">Start Date</label>
                        <ValidationMessage For="@(() => Model.StartDateForm)" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <InputDate @bind-Value="@Model.EndDateForm" class="form-control" autocomplete="end-date" aria-required="true" placeholder="Please enter tournament end date." disabled="@IsLoading" />
                        <label for="end-date" class="form-label">End Date</label>
                        <ValidationMessage For="@(() => Model.EndDateForm)" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="@Model.Location" class="form-control" autocomplete="location" aria-required="true" placeholder="Please enter tournament location." disabled="@IsLoading" />
                        <label for="location" class="form-label">Location</label>
                        <ValidationMessage For="@(() => Model.Location)" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <InputCheckbox @bind-Value="@Model.IsFeatured" class="form-check-input" autocomplete="isfeatured" aria-required="true" placeholder="Please enter tournament isfeatured." disabled="@IsLoading" />
                        <label for="isfeatured" class="form-check-label">Is Featured</label>
                        <ValidationMessage For="@(() => Model!.IsFeatured)" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <InputNumber @bind-Value="@Model.EntryFee" class="form-control" autocomplete="entry fee" aria-required="true" placeholder="Please enter tournament Entry Fee." disabled="@IsLoading" />
                        <label for="entryFee" class="form-label">Entry Fee</label>
                        <ValidationMessage For="@(() => Model.EntryFee)" class="text-danger" />
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <InputNumber @bind-Value="@Model.AvailableSlot" class="form-control" autocomplete="availableSlot" aria-required="true" placeholder="Please enter tournament rules." disabled="@IsLoading" />
                        <label for="availableSlot" class="form-label">AvailableSlot</label>
                        <ValidationMessage For="@(() => Model.AvailableSlot)" class="text-danger" />
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="file-upload" class="form-label">Featured Image</label>
                        <InputFile class="form-control" OnChange="HandleFileUpload" disabled="@IsLoading" id="file-upload" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="cover-file-upload" class="form-label">Cover Image</label>
                        <InputFile class="form-control" OnChange="HandleCoverFileUpload" disabled="@IsLoading" id="cover-file-upload" />
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <InputTextArea @bind-Value="@Model.Description" class="form-control" autocomplete="description" aria-required="true" placeholder="Please enter tournament description." disabled="@IsLoading" />
                <label for="description" class="form-label">Description</label>
                <ValidationMessage For="@(() => Model.Description)" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputTextArea @bind-Value="@Model.Rules" class="form-control" autocomplete="rules" aria-required="true" placeholder="Please enter tournament description." disabled="@IsLoading" />
                <label for="rules" class="form-label">Rules</label>
                <ValidationMessage For="@(() => Model.Rules)" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary w-100" disabled="@IsLoading">
                @{
                    if (IsLoading == true)
                    {
                        <Loading />
                    }
                }Submit
            </button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public TournamentCreateDTO? Model { get; set; }

    public string errorMessage { get; set; } = "";
    private string CategoryId { get; set; } = "";

    private bool IsLoading { get; set; } = false;
    long maxFileSize = 1024 * 1024 * 10;
    string[] imageFileExtension = { ".jpg", ".jpeg", ".png", ".gif", ".webp" };

    private List<TournamentCategoryDTO> Categories { get; set; } = new();

    protected override void OnInitialized()
    {
        Model ??= new();
        Categories = RepositoryServiceManager.TournamentCategoryService.GetAllCategories().ToList();
    }

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        errorMessage = "";
        try
        {
            if (IsLoading == true) return;
            IsLoading = true;
            var file = e.File;
            if (file is not null)
            {
                var (isValid, error) = CommonHelpers.CheckFileSize(file, maxFileSize);

                if (!isValid)
                {
                    errorMessage = error;
                    IsLoading = false;
                    return;
                }

                var (isImage, errorImage) = CommonHelpers.CheckFileExtension(file, imageFileExtension);
                if (!isImage)
                {
                    errorMessage = errorImage;
                    IsLoading = false;
                    return;
                }

                // var formFile = new FormFile(file.OpenReadStream(file.Size), 0, file.Size, file.Name, file.Name);
                var fileResult = await RepositoryServiceManager.FileStorageService.SaveFile(file, AppConstant.TournamentPictureTag);
                if (fileResult is not null)
                {
                    var pictureFile = await RepositoryServiceManager.PictureService.CreatePicture(new PictureCreateDTO(fileResult.FileUrl, fileResult.PublicId));
                    Model!.PictureId = pictureFile.Id;
                }
            }
            IsLoading = false;
        }
        catch (Exception ex)
        {
            IsLoading = false;
            errorMessage = ex?.Message;
        }

    }
    private async Task HandleCoverFileUpload(InputFileChangeEventArgs e)
    {
        errorMessage = "";
        try
        {
            if (IsLoading == true) return;
            IsLoading = true;
            var file = e.File;
            if (file is not null)
            {
                var (isValid, error) = CommonHelpers.CheckFileSize(file, maxFileSize);

                if (!isValid)
                {
                    errorMessage = error;
                    IsLoading = false;
                    return;
                }

                var (isImage, errorImage) = CommonHelpers.CheckFileExtension(file, imageFileExtension);
                if (!isImage)
                {
                    errorMessage = errorImage;
                    IsLoading = false;
                    return;
                }

                // var formFile = new FormFile(file.OpenReadStream(file.Size), 0, file.Size, file.Name, file.Name);
                var fileResult = await RepositoryServiceManager.FileStorageService.SaveFile(file, AppConstant.TournamentCoverPictureTag);
                if (fileResult is not null)
                {
                    var pictureFile = await RepositoryServiceManager.PictureService.CreatePicture(new PictureCreateDTO(fileResult.FileUrl, fileResult.PublicId));
                    Model!.CoverPictureId = pictureFile.Id;
                }
            }
            IsLoading = false;
        }
        catch (Exception ex)
        {
            IsLoading = false;
            errorMessage = ex?.Message;
        }

    }

    private async Task HandleSubmit()
    {
        errorMessage = "";
        var currentUser = await GetCurrentUser();
        if (Model is not null)
        {
            try
            {
                if (IsLoading == true) return;
                IsLoading = true;
                var startDateStr = Model.StartDateForm.HasValue ? Model.StartDateForm.Value.ToString("dd/MM/yyyy") : "";
                var endDateStr = Model.EndDateForm.HasValue ? Model.EndDateForm.Value.ToString("dd/MM/yyyy") : "";

                Model.StartDateString = startDateStr;
                Model.EndDateString = endDateStr;

                if (!string.IsNullOrWhiteSpace(CategoryId))
                {
                    _ = Guid.TryParse(CategoryId, out Guid categoryId);
                    Model!.CategoryIds = new List<Guid> { categoryId };
                }
                await RepositoryServiceManager.TournamentService.CreateTournament(Model, currentUser);
                IsLoading = false;
                NavigationManager.NavigateTo("/tournaments");
            }
            catch (Exception)
            {
                errorMessage = "An error has occured, please contact your administrator for help";
                IsLoading = false;
            }
        }
    }

    private async Task<ApplicationUser> GetCurrentUser()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userClaim = authenticationState.User;
        var user = await UserManager.GetUserAsync(userClaim);
        return user;
    }
}
